<%= form_for(@past) do |f| %>
  <% if @past.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@past.errors.count, "error") %> prohibited this past from being saved:</h2>

      <ul>
      <% @past.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
